{% extends 'blog/base.html' %}


{% block title %}Добавить комментарий{% endblock %}

<!-- Это шаблон представления комментариев к посту -->
{% block content %}
<!--если данные формы валидны comment будет содержать созданный объект comment, и на страницу будет выведено сообщение об успехе -->
	{% if comment %}
	<h2>Ваш комментарий был добавлен</h2>
<p><a href="{{ post.get_absolute_url }}">Вернуться к сообщению</a></p>
<!--если данные формы невалидны, то переменной comment
будет назначено значение None. В этом случае мы отобразим коммен-
тарную форму. Для вставки созданного ранее шаблона comment_form.html  -->
{% else %}
	{% include 'blog/post/includes/comment_form.html' %}
	{% endif %}

	{% endblock %}