{% extends 'blog/base.html' %}

<!-- Это шаблон, который используется для отображения формы, служащей
для того, чтобы делиться постом по электронной почте, и для отображения успешного сообщения после отправки электронного письма -->

{% block content %}

	{% if sent %}
	<h1>E-mail успешно отправлен</h1>
	<p>
		"{{ post.title }}" был успешно отправлен
		получателю {{ form.cleaned_data.to }}.
	</p>
	{% else %}
		<h1>Share "{{ post.title }}" by e-mail</h1>
		<form method="post">
			<!--Экземпляр формы вставлен с по­мощью тега form.as_p-->
			{{ form.as_p }}
	<!-- тег вводит скрытое поле с автоматически сгенерированным токеном во избежание атак -->
			{% csrf_token %}
			<input type="submit" value="Send e-mail">
		</form>
	{% endif %}
{% endblock content %}
